body {
    padding: 0;
    margin: 0;
    background-color: #666;
    color: #222;
    font-size: 16px; /* default 16px */
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

#contents {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    color: #222;
}


a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: orange;
}

li {
    margin: 5px;
}

.profile-table {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-img {
    margin-right: 20px;
}

.profile-text {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .profile-table {
        flex-direction: column;
    }

    .profile-img {
        margin: 0;
    }

    .profile-text {
        text-align: center;
    }

    #contents {
        width: 61.8%;
    }
}
