body {
  width: 96%;
  margin:0 auto;
  font-family: times new roman;
  padding-top: 100px;
  background-color: #ffffff;
}

a:link, a:visited {
  text-decoration: underline;
  display: inline-block;
  text-align: center;
  color: #1772d0;
}

a:hover, a:active {
  text-decoration: underline;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  color: #f09228;
}

li {
  margin-bottom: 10px;
}

.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  width: 100%;
}